* {
    margin: 0;
    padding: 4px;
    box-sizing:border-box;
}



#header {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
    
}

.content {
    
display: flex;
width: 33%;
    
}

