* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    color: rgb(0, 0, 0);
    background-color: rgb(176, 65, 65);
    text-align: center;
    height: 8rem;
    display:flex;
    flex-direction: column;
}