* {
    margin: 0;
    padding: 4px;
    box-sizing:border-box;
}
/* INLEDNING - HUVUD */
.myhead {
    background-color: rgb(0, 99, 133);
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#namn {
    color: black;
    padding: 30px; 
    font-size:3rem;
}

/* huvudinnehåll */
.content { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
#profilbild {
    
    width: 508px;
    height: 508px;
    display: flex;
}
#text {
    background-color: rgb(241, 148, 148);
    width: 508px;
    height: 508px;
    justify-content:left;
    display: flex;
    flex-wrap: wrap;
}

#text3 {
    background-color: rgb(230, 219, 173);
    width: 508px;
    height: 508px;
    display: flex;
    
    flex-wrap: wrap;
}
